.nav-bar {
  width: 100vw;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-bar audio {
  margin: 20px;
}

.nav-bar p {
  margin: 5px;
}

.nav-bar_weather {
  width: 280px;
  height: 70px;
  display: flex;
  flex-direction: column;
  justify-content: space-;
  align-items: center;
  font-size: 20px;
}

.nav-bar_music {
}
